<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>I will show the images of what you type below.....</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <input class="form-control" type="text" [(ngModel)]="data" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="getImages()">Get Images</button>
        </div>
        <div class="col-md-12" *ngIf="!response">
            <h1>Please wait while we are generating.......</h1>
        </div>
    </div>
    <div class="row" *ngIf="response">
        <div class="col-md-6">
            <img [src]="response.data[0].url" style="width:100%" />
        </div>
        <div class="col-md-6">
            <img [src]="response.data[1].url" style="width:100%" />
        </div>
    </div>
</div>